// maincopy
.c-main-content__button.c-main-content__button--top.is-closed 
	if (language=="en")
		| READ MORE
	else
		| LEER M&Aacute;S
section.c-block
	.c-block__column.c-main-content.is-closed
		block copy
.c-main-content__footer.is-closed
	.c-hero-image__frame
	.c-main-content__button.c-main-content__button--bottom.is-closed 
		if (language=="en")
			| READ MORE
		else
			| LEER M&Aacute;S
