//- the header component for map pages
// bof header c-header- -map -o
.c-header.c-header--map  
	a.c-logo(href= '#{root_url}')
		img.c-logo__image(src='/images/holboxeno-logo.svg' alt="Holboxeño Logo")