//- the header component for seccion pages
// bof header c-header- -heroimage -o
.c-header.c-header--heroimage.is-half  
	a.c-logo(href= '#{root_url}')
		img.c-logo__image(src='/images/holboxeno-logo.svg' alt="Holboxeño Logo")
	.c-hero-image__frame
		+c-header__heroimage(hero_image)
	.liner1
	.liner2