//- this is the tab  content inside the tab "food and drink" in the home page
//- dependencies : index.jade

//- c-linetitle
h3.c-linetitle
	span Blog

//- TODO: ¿limitar el numero de lugares?
each page in pages

	if page.page_category.sys.id == blogId && page.featured == true

		+c-page--premium (
		page.getHeroImage(language),
		page.getLanguageUrl(language),
		page.getHeading(language),
		'page.price',
		page.getExcerpt(language)
		)


if (language == "en")
	+c-button--section('/en/blog/')
		| See more blog posts
else
	+c-button--section('/es/blog/')
		| Descubre nuestro blog
