//- transportation__tabcontent--taxies

//- this is the tab  content inside the tab "taxis" in the getting to holbox page
//- dependencies : getting-to-holbox.jade



h3.c-linetitle
	span 
		if (language=="en")
			| Parking in Chiquila
		else 
			| Estacionamiento en Chiquil치



if (language=="en")
		p Coming soon...

		p There are a few short stay parking lots in Chiquila.
		p The average price for 50 pesos for 12hrs and 100 pesos for 24hrs.
	else 
		p Pr칩ximamente...
		p En Chiquil치 se encuentran varios estacionamientos.
		p El precio es m치s o menos 50 pesos para 12 horas y 100 pesos para 24 horas.