//- transportation__tabcontent--taxies

//- this is the tab  content inside the tab "flights" in the getting to holbox page
//- dependencies : getting-to-holbox.jade

- flightsID = "43K6fi0Bg4OmCeGOewYc0C"


h2.c-linetitle
	span 
		if (language=="en")
			| Flights to and from Holbox 
		else 
			| Vuelos desde y a Holbox

each place in places

	if place.belongsToCategory(flightsID) && place.premium && place.plus
		+c-listing--premium(
		place.getGalleryImages(language),
		'#',
		place.getLanguageUrl(language),
		place.name,
		place.cost_low,
		place.food_types,
		place.business_subtype
		 )

	else if place.belongsToCategory(flightsID) && place.premium && !place.plus
		+c-listing--premium(
		place.getGalleryImages(language),
		'#',
		place.getLanguageUrl(language),
		place.name,
		place.cost_low,
		place.food_types,
		place.business_subtype
		 )

- var placesSec			= []
- var placesPic			= []
- var placesNoPic		= []

//- load all basic with images
each place in places
	if place.belongsToCategory(flightsID) && !place.premium 
		- placesSec.push(place)

each place in placesSec
	if place.getGalleryImages(language) && place.getGalleryImages(language).length > 0
		- placesPic.push(place)
	else 
		- placesNoPic.push(place)

.flexorama--row
	each place in placesPic
		+c-listing--secondary (place.getLanguageUrl(language),place.name,place.getGalleryImages(language), place.cost_low,place.business_subtype)

	each place in placesNoPic
		+c-listing--secondary (place.getLanguageUrl(language),place.name,place.getGalleryImages(language), place.cost_low,place.business_subtype)




