//-load the mixins
include _mixins__images.jade
include _mixins__page-variables.jade
include _mixins__place.jade
include _mixins__blocks.jade
include _mixins__tables.jade
include _mixins__aside.jade
include _mixins__transfers.jade
