//-bof variables
block metas
	//- section page vars set these manually
	- var bodyClasses 		= "ferries"
	- var language			= "es"//-either 'en' or 'es' 
	- var theUrl			= "/es/horario-ferries-isla-holbox.html" 
	- var locale			= "/en/holbox-island-ferry-times.html" 
	- var thisPageId    	= "3LRnD9cSuQYMGyUCo4Es48" // the contentful page id
	- var pages         	= contentful.pages

	- var tab1_id 			= "holbox-chiquila"
	- var tab2_id 			= "chiquila-holbox"

	- var tab_number 		= "tabs--two"
	
	//- Find the section page based on thisPageId
	- var sectionPage = null
	if contentful.sectionPages
		each currentSectionPage in contentful.sectionPages
			if currentSectionPage.sys.id == thisPageId
				- sectionPage = currentSectionPage

	include ../partials/_page__vars.jade

//- make sure you put the urls correctly
extends ../_pages/_layout-section-page.jade 

//- set up the meta tags

//-the main copy that for this page
block copy
	h1.c-header__title  
		span #{heading}
	.c-main-content__copy
		!= marked(copy)
			
//-name the tabs in the subnav
block tab1
	| Horario Ferry
	br
	| Holbox &#8594; Chiquila

block tab2
	| Horario Ferry
	br
	| Chiquila &#8594; Holbox



//- insert the content in the tab content blocks
//- tab1 content
block tab1Content
	include ../_tabs/_transportation__tabcontent--holbox-chiquila.jade

//- tab3 content
block tab2Content
	include ../_tabs/_transportation__tabcontent--chiquila-holbox.jade


